.navbar{
    background-color: darkcyan;
    padding: 2rem 4rem;
    height: 5rem;
    box-shadow: 0 0.2rem rgba(241, 236, 236, 0.4);
    

    &__list {
        display: flex;
        justify-content:flex-end;
        align-items: center;
        list-style: none;
        height: 100%;
        padding: 0 4rem;
       


        &__item{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;

        }
    }
    &__link{
        color: white;
        margin-right: 30px;
        text-decoration: none;

        &:hover{
            color: rgb(221, 39, 39);
        }
    }

}