.navbar{
    background-color: rgb(8, 8, 201);
    padding: 2rem 4rem;
    height: 5rem;
    box-shadow: 0 0.2rem rgba(0,0,0,0.4);

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        height: 100%;
        padding: 0 4rem;


        &__item{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.8rem;

        }
    }
    &__link{
        color: white;
        text-decoration: none;

        &:hover{
            color: #777;
        }
    }
    &__logo{
        font-size: 2.8rem;
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-style: italic;
    }
}